body {
    padding:0px;
    margin: 0px;
    background: #c3c7cb;
    box-shadow: inset 0.25vw 0 0 #868a8e, inset 0 0.25vw 0 #868a8e, inset 0 0.25vw 0 #868a8e;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    cursor: default;
}

::-webkit-scrollbar {
    width: 0.75vw;
}

::-webkit-scrollbar-thumb {

    background: #c3c7cb;
    box-shadow: -0.15vw -0.15vw 0.15vw inset #868a8e;
    border-top: 0.15vw solid white;
    border-left: 0.15vw solid white;
    border-bottom: 0.15vw solid black;
    border-right: 0.15vw solid black;
}

::-webkit-scrollbar-track {
    background: grey;
}

.Button95Style {
    margin: auto;
    text-align: center;
    align-content: center;
    background: #c3c7cb;
    box-shadow: -0.15vw -0.15vw 0.15vw inset #868a8e;
    border-top: 0.15vw solid white;
    border-left: 0.15vw solid white;
    border-bottom: 0.15vw solid black;
    border-right: 0.15vw solid black;
}

.Button95Style:active {
    box-shadow: 0.15vw 0.15vw 0.15vw inset #868a8e;
    border-top: 0.15vw solid black;
    border-left: 0.15vw solid black;
    border-bottom: 0.15vw solid white;
    border-right: 0.15vw solid white;
}

.Button95Style:hover {
    cursor: pointer;
}

.Window95Style {
    background: #c3c7cb;
    box-shadow: -0.15vw -0.15vw 0.15vw inset #868a8e;
    border-top: 0.15vw solid white;
    border-left: 0.15vw solid white;
    border-bottom: 0.15vw solid black;
    border-right: 0.15vw solid black;
}

.menuContainer {
    width: 100%;
    height: 30%;
    padding:0px;
    margin: auto;
    background: #c3c7cb;
    box-shadow: inset -0.15vw -0.15vw 0 0 #a099a1, inset 0.15vw 0.15vw 0 0 white;
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-wrap: nowrap;
}

.buttonContainer {
    width: 20%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menuButton {
    width: 90%;
    height: 25%;
    font-size: 1.25vw;
}

#clicker {
    height: 20vw;
    border-radius: 50%;
    border: transparent;
    background: red;
    margin: 0;
    border-top: 0.3vw solid white;
    border-left: 0.3vw solid white;
    border-bottom: 0.3vw solid #a099a1;
    border-right: 0.3vw solid #a099a1;
    transition: 0.1s;
    aspect-ratio: 1/1;
    transform: scale(1);
}

#clicker:hover {
    cursor: pointer;
}

#clicker:active {
    border-top: 0.35vw solid #a099a1;
    border-left: 0.35vw solid #a099a1;
    border-bottom: 0.35vw solid white;
    border-right: 0.35vw solid white;
    transition: 0.1s;
    transform: scale(0.95);
}

#clickerContainer {
    margin: 0 auto;
    padding: 0 auto;
    width: 30%;
    height: 65%;
    position: absolute;
    left: 1%;
    top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dbdbdb;
}

.infoText {
    resize: none;
    font-size: 1vw;
    text-align: left;
    margin: auto auto auto 0.25vw;
}

.menuWrapper {
    width: 15%;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: transparent;
    margin: auto;
}

#StatisticsInfo {
    margin: auto;
    width: 98%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: auto;
    word-break: keep-all; 
    font-size: 1vw;
}

.menuOptions {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    background: transparent;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#musicButton {
    width: 50%;
    height: 100%;
    font-size: 1vw;
    border-bottom: none;
}

#keybindsButton {
    width: 50%;
    height: 100%;
    font-size: 1vw;
    border-bottom: none;
}

#KeybindsWindow {
    aspect-ratio: 1.5 / 1;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
    background: #c3c7cb;
    border: #868a8e 0.2vw solid;
    z-index: 1;
    overflow-x: hidden;
}

#KeybindsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all; 
}

.WindowBar {
    aspect-ratio: 1/ 0.03;
    width: 98%;
    margin: 0.25vw auto;
    text-align: center;
    color: white;
    padding: 0.25vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 38, 255);
}

.WindowClosed {
    transition: 0.5;
    transform: scale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.Window95Inset {
    width: 98%;
    height: 89%;
    background: white;
    box-shadow: 0.15vw 0.15vw 0.15vw inset #868a8e;
    border-top: 0.15vw solid black;
    border-left: 0.15vw solid black;
    border-bottom: 0.15vw solid rgb(209, 209, 209);
    border-right: 0.15vw solid rgb(209, 209, 209);
}

.Window95DoubleInset {
    background: rgb(219, 219, 219);
}

.KeybindActionText {
    color: rgb(89, 0, 255);
    font-weight:bolder;
    font-style: oblique;
    text-align: left;
    margin: 0 0 0 1vw;
    padding: 0;
    word-break: keep-all; 
}

.KeybindActionDesc {
    font-weight: normal;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    max-height: 100%;
    overflow-x:visible;
    word-break: keep-all; 
}

.KeybindButtonChange {
    height: 90%;
    width: 22.5%;
    font-weight: bolder;
    position: sticky;
    left: 75.5%;
}

.ContentContainer {
    margin: 0.75vw;
    width: 96%;
    height: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.25vw;
}


.CloseButton {
    aspect-ratio: 1/1;
    margin: 0;
    height: 100%;
    margin-left: auto;
    left: 0%;
}

#canvas {
    position: absolute;
    top: 0px;
    right: 0%;
    background-color: transparent;
}